nav ul li { 
  list-style-type: none;
  margin:0px;
  display:inline;

}

.course_list_detail_card {
  display:inline-block;
  width: 30em;
  padding:10px;
}
.course_city, .course_region, .course_zip{
  size:10px;
  margin: 0px;

}
.course_street{
  margin:0px;
}

.course_list_detail_card > h4 {
  margin:0px;
}
table {
  width: 100%;
  max-width: 600px;
}
th,td {
  padding :2px 5px;
}
form{
  display: inline;
}
label {
  display: inline;
}