{% extends "generic/base.html" %}
{%  block title%}
detail
{%  endblock title %}

{% block content %}
<div  class="course_list_detail_card">
  <h3> <a  href="{% url "tee_selection" pk=course.id %}">{{ course.name }}</a></h3>
  <p class="course_phone">{{course.phone}}</p>
  <p class="course_city">{{course.city}}</p>
  <p class="course_region">{{course.region}}</p>
</div>
{% for tee in tees%}
  <p>{{tee.color}}</p>
{% endfor %}

</form>


{% for tee in tees%}
<p>Tee ID: {{tee.id}} </p>
{% endfor %}


<form action='.' method="POST" enctype="application/x-www-form-urlencoded">
  {% csrf_token %}
  {{ form.non_field_errors }}


  <div class="fieldWrapper">
    {{ form.date.errors}}
    <label for="{{ form.date_played.id_for_label }}">Date Played:</label>
    <input type=date required value={{form.date_played}} 
  </div>

 <div class=fieldWrapper>
    <label for="{{form.score.id_for_label}}">Score:</label>
      <input type="number" value=88 id={{form.score}} 
  </div>
 <div class=fieldWrapper>
    <label for="{{form.differential.id_for_label}}"></label>
      <input type="hidden"  value=10 id={{form.differential}} 
  </div>

  <div class="fieldWrapper">

    <label for="{{form.tee.id_for_label}}"> Choose Tee: </label>
    <select name="tee" id="tee_input">
      {% for tee in tees%}
        <option value={{tee.id}}>{{tee.color}}</option>
      {% endfor %}
    </select>
  </div>
    <button type="submit">POST</button>


</form>
{% endblock content %}