{% extends "generic/base.html" %}
{%  block title%}
detail
{%  endblock title %}

{% block content %}
<div  class="course_list_detail_card">
  <h3> <a  href="{% url "tee_selection" pk=course.id %}">{{ course.name }}</a></h3>
  <p class="course_phone">{{course.phone}}</p>
  <p class="course_city">{{course.city}}</p>
  <p class="course_region">{{course.region}}</p>
</div>
{% if tees is not None %}
<table>
  <thead>
    <tr>
      <td>Color</td>
      <td>Par</td>
      <td>Length</td>
      <td>Slope</td>
      <td>Rating</td>
    </tr>
  </thead>
  <tbody>
    {% for tee in tees%}
    <tr>
      <td>{{tee.color}}</td>
      <td>{{tee.par}}</td>
      <td>{{tee.length}}</td>
      <td>{{tee.slope}}</td>
      <td>{{tee.rating}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<form action='.' method="POST" enctype="application/x-www-form-urlencoded">
  {% csrf_token %}
  {{ form.non_field_errors }}
  <div class=fieldWrapper>
    <label for="{{form.user.id_for_label}}"></label>
      <input name="user" type="hidden"  value={{user.id}} id={{form.user}}
  </div>

  <div class="fieldWrapper">
    {{ form.date.errors}}
    <label for="{{ form.date_played.id_for_label }}">Date Played:</label>
    <input name="date_played" type=date required value={{form.date_played}} 
  </div>

  <div class=fieldWrapper>
    <label for="{{form.score.id_for_label}}">Score:</label>
      <input name="score" type="number" value=88 id={{form.score}} 
  </div>
  <div class=fieldWrapper>
    <label for="{{form.differential.id_for_label}}"></label>
      <input type="hidden"  value=10 id={{form.differential}} 
    
  <div class=fieldWrapper>
    <label for="{{form.used.id_for_label}}"></label>
      <input type="hidden"  value=False id={{form.used}}
  </div>
  <div class="fieldWrapper">
    <label for="{{form.tee.id_for_label}}"> Choose Tee: </label>
    <select name="tee" id="tee_input">
      {% for tee in tees%}
        <option value={{tee.id}}>{{tee.color}}</option>
      {% endfor %}
    </select>
  </div>
    <button type="submit">POST</button>

</form>
{%endif%}
{% endblock content %}