{% extends 'generic/base.html' %}

{%block title %} home {%endblock%}

{% block content %}


<table id="handicap-table">
  <tr>
    <th>Date</th>
    <th>Course - Tee</th>
    <th>Score</th>
    <th>Differential</th>
  </tr>
  {% for round in rounds %}
  {%if round.used == True %}
  <tr class="used" >
    <td>{{round.date_played}}</td>
    <td>{{round.tee}}</td>
    <td>{{round.score}}</td>
    <td>{{round.differential}}</td>
  </tr>
  {% else %}
  <tr class="unused">
    <td>{{round.date_played}}</td>
    <td>{{round.tee}}</td>
    <td>{{round.score}}</td>
    <td>{{round.differential}}</td>
  </tr>
  {%endif%}
  
  {%endfor%}
</table>

<h2 id= "hadicap-rating-scores-page"> handicap= {{handicap}}</h2>

{%endblock content%}