{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width = device width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content= "ie=edge">
  <link rel="stylesheet" href="{%static "css/normalize.css" %}">
  <link rel="stylesheet" href="{%static "css/skeleton.css" %}">
  <link rel="stylesheet" href="{%static "css/styles.css" %}">
</head> 
<body>
  <header>
    {% if user.is_authenticated %}
    <h5>Logged in as: <strong>{{user.username}}</strong></h5>
    {% endif %}
    <nav>
      <ul>
        <li><a href="{% url "home" %}"> Home</a></li>
        <li><a href="{% url "user_handicap" %}"> Handicap</a></li>
        <li><a href="{% url "course_list_view" %}">Course List</a></li>
        <li><a href="{% url "django_registration_register" %}">Register</a></li>
        <li><a href="{% url "login" %}">Signin</a></li>
        <li><a href=" {% url "logout" %}">Logout</a></li>
      </ul>
    </nav>
  </header>
  <Main>
    {% block content %}
    <h3>No Content</h3>
    {% endblock content %}
  </Main>

</body>

</html>